.top-bar{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 3;
}
.carousel{
  top: 60px;
  width: 60%;
  height: 300px;
  margin: 0 auto;
  background: #364D79;
}
.product{
  width: 60%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-page{
  display: flex;
  padding: 50px 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .login-form{
    border:  1px solid #D9D9D9;
    padding: 20px 30px; 
    border-radius: 3px;
  }
}
.cart-page{
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  .product-list{
    width: 100%;
    .product-detail{
      display: flex;
      flex-direction: column;
      .product-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .product-img{
          width: 100px;
          height: 100px;
          background: #364D79;
        }
        .product-info{
          width: calc(100% - 120px);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .info-font{
            white-space: nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
          }
        }
      }
    }
  }
}